<div class = "container">
	<div class = "row">
		<ul class = "breadcrumbs">
			<li> <%=link_to "Forum's Home >", forums_path%></li>
			<li> Current Page</li>
		</ul>
		<h2> <%=@forum.title%></h2>		
	</div>
</div>

<div class = "container">
	<div class = "row box">
		<%=render "topics/topic_header"%>
	
		<%@forum_topics.each do |topic|%>
			<div class = "row box-3">
				<div class = "six columns">
					<%=link_to topic.name, [@forum,topic]%>
				</div>

				<div class = "two columns">
					<%topic.posts.limit(1).each do |post|%>
					<%=time_ago_in_words(post.created_at)%> ago
					<%end%>
				</div>

				<div class = "one columns">
				</div>

				<div class = "two columns">
					<%=topic.posts.count%>
				</div>

				<div class = "two columns">
					
				</div>
			</div>
		<%end%>
	</div>
</div>

<div class="container">
	<div class="row">
		<%=link_to "New Topic", new_forum_topic_path(@forum), :class => "small radius nice blue button"%>
	</div>
</div>

<div class = "container">
    <div class = "row">
        <div class ="ten columns apple_pagination">            
            <%= will_paginate @forum_topics%>
          </div>
    </div>
</div>

