= semantic_form_for @admin_message = AdminMessaging.new do |form|
	= form.inputs do
		= form.input :title, :value => "Congratulations! Your blog submission has been accepted", :as => :hidden
		= form.input :email, :value => @submission.user.email, :as => :hidden
		= form.input :username, :value => @submission.user.username, :as => :hidden
		= form.input :user_id, :value => @submission.user.id, :as => :hidden
		= form.input :body, :label => "Message User"
	= form.buttons do
		= form.commit_button :label => "Publish"