
            <div class="rotator round">
                <ul id="rotmenu">
                    <li>
                        <a href="rot1"><%=@first_slide_heading%></a>
                        <div style="display:none;">
                            <div class="info_image">1.jpg</div>
                            <div class="info_heading"></div>
                            <div class="info_description">
				                <%=@first_slide_description%> 
                                <%#<a href="#" class="more">Read more</a>%>
                            </div>
                        </div>
                    </li>
                    <li class = "dummy1">
                        <a href="rot2"><%=@second_slide_heading%></a>
                        <div style="display:none;">
                            <div class="info_image">2.jpg</div>
                            <div class="info_heading"></div>
                            <div class="info_description">
                                <%=@second_slide_description%>
                                <%#<a href="#" class="more">Read more</a>%>
                            </div>
                        </div>
                    </li>
                    <li class = "dummy2">
                        <a href="rot3"><%=@third_slide_heading%></a>
                        <div style="display:none;">
                            <div class="info_image">3.jpg</div>
                            <div class="info_heading"></div>
                            <div class="info_description">
                                <%=@third_slide_description%>
                                <%#<a href="#" class="more">Read more</a>%>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="rot1">
                    <img src="" width="890" height="400" class="bg" alt=""/>
                    <div class="heading">
                        <h1></h1>
                    </div>
                    <div class="description">
                        <p></p>

                    </div>    
                </div>
            </div>




