= semantic_form_for @admin_message = AdminMessaging.new do |form|
	= form.inputs do
		= form.input :title, :value => "Your forum topic has been deleted", :as => :hidden
		//= form.input :email, :value => @topic.user.email, :as => :hidden
		//= form.input :username, :value => @topic.user.username, :as => :hidden
		//= form.input :user_id, :value => @topic.user.id, :as => :hidden
		= form.input :body, :label => "Message"
	= form.buttons do
		= form.commit_button :label => "Send Message to User"