= semantic_form_for @admin_message = AdminMessaging.new do |form|
	= form.inputs do
		= form.input :title, :value => "Message from StudyAbroader admin", :as => :hidden
		= form.input :email, :value => @user.email, :as => :hidden
		= form.input :username, :value => @user.username, :as => :hidden
		= form.input :user_id, :value => @user.id, :as => :hidden
		= form.input :body, :label => "Message"
	= form.buttons do
		= form.commit_button :label => "Send Message to User"