<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 8]> <%=stylesheet_link_tag "ie"%> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "all_content">
  <%=render "layouts/above_header"%>
  <%= yield :head %> 
  <%if controller_name != 'registrations' && controller_name !="sessions"%>
  <%=render "layouts/header"%>
  <%end%>
 
  <%flash.each do |key,value|%>
    <div class="container">
      <div class="row">
        <div class="flash <%=key%> alert-box four columns"><%=value%></div>
      </div>
    </div>
  <%end%>
  <%= yield %>
  <div class="clearfooter"></div>
</div>
<div id = "custom_footer">
  <%= yield :scripts %>
  <%=render "layouts/footer"%>
</div>
</body>
</html>